.login {
  background-color: transparent;
  color: #ef6921;
  font-size: smaller;
  height: 2.8rem;
  width: 10.5rem;
  font-size: 1.4rem;
  border-color: #ef6921;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.login:hover {
  border-color: #ef6921;
  color: white;
  background-color: #ef6921;
}
